html {
  background-color: #c9b5ab;
  font-family: "PT Serif", serif;
  line-height: 1.5;
  font-weight: normal;
}

h1, h2 {
  color: #3f1622;
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
}

h1 {
  font-size: 1.5rem;
}

img {
  width: 100%;
}

main figcaption {
  text-align: center;
  font-style: italic;
}

nav ol {
  color: #8f2440;
  list-style-type: none;
  font-weight: bold;
  font-size: 1.125rem;
}

a {
  text-decoration: none;
  color: #8f2440;
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
}

a:hover {
  color: #3f1622;
  text-decoration: underline;
}

article p:first-child {
  font-weight: bold;
}

blockquote p {
  text-align: left;
  font-size: 1.5rem;
  font-style: italic;
  font-weight: normal;
}

blockquote footer {
  font-size: .8rem;
}

ul {
  list-style-type: lower-greek;
}

span {
  font-style: italic;
}

dl dt {
  font-weight: bold;
}

aside ul {
  font-size: .8rem;
  list-style-type: circle;
}
